<div class="nav footer-more">
    <div class="container">
    <div class="row">

        <div class="col-lg-2">
            <h3>About Us</h3>
            <p>Our company</br>
                Our page
            </p>
        </div>

        <div class="col-lg-2">
            <h3>Categories</h3>
            <p>Trends & Technology</br>
                Design companies</p>
        </div>

    </div>
</div>
</div>

<nav class="navbar navbar-default footer-info" role="navigation">
    <div class="container">
        <p class="navbar-text navbar-left no-left-margin">
            @ 2014 Copyright.
        </p>
        <p class="navbar-text navbar-right">
            <a href="#" class="navbar-link navlink-bottom">Log in</a>     |

            <a href="#" class="navbar-link navlink-bottom">Privacy Policy</a>     |

            <a href="#" class="navbar-link navlink-bottom">Terms and Conditions</a>     |

            <a href="#" class="navbar-link navlink-bottom">Contact Us</a>
        </p>
    </div>
</nav>